* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

.cardHighlight {
  min-height: 100%;
}

/*Admin sidebar*/

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #626567 ;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #212F3D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
#main {
  margin-left:16%;
  margin-right:3%;
  padding: 1px 16px;
  height: 100%;
}



/*for Banner purpose*/
.btns {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btns:hover {
  background-color: black;
}

.txts {
  letter-spacing: 0.1em;
  font-size: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

@media only screen and (max-width: 600px) {

.btns {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    }

.btns:hover {
      background-color: black;
    }

.txts {
      letter-spacing: 0.2em;
      font-size: 20px;
      font-family: "Lucida Console", "Courier New", monospace;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: white;
      text-align: center;
    }
  }

/*For Image Features*/
#conts {
  position: relative;
  width: 100%;
}

.images {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middles {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#conts:hover .images {
  opacity: 0.3;
}

#conts:hover .middles {
  opacity: 1;
}

.texts {
  background-color: dark;
  color: white;
  font-size: 2px;
}

/* update */

.banner-container {
  position: relative;
  text-align: center;
  padding: 20px;
}

.banner-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333; /* Adjust the color as needed */
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 400px; /* Adjust the maximum height as needed */
}

.banner-button {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Customize the button background color */
  border: none;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out;
}

.banner-button:hover {
  background-color: #0056b3; /* Change the button color on hover */
}

.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height as needed */
  background-color: #f5f5f5; /* Set your desired background color */
  overflow: hidden;
}

.banner-content {
  text-align: center;
  z-index: 1;
  color: #333; /* Set your desired text color */
}

.banner-title {
  font-size: 3rem; /* Adjust the font size as needed */
  font-weight: bold; /* Use a bold font weight for emphasis */
  color: #333; /* Set your desired text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
  text-align: center; /* Center the text horizontally */
  margin-bottom: 20px; /* Add space below the title */
}


.banner-subtitle {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-bottom: 30px; /* Add space below the subtitle */
}

.banner-button {
  font-size: 1.25rem; /* Adjust the font size as needed */
  text-transform: uppercase; /* Uppercase text */
}
/* for Highlights */
/* Add this CSS to your component or a separate CSS file */
.images {
  object-fit: cover;
  height: 17rem;
}

.middles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texts {
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 16px;
}
